*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: "Nunito", sans-serif;
	overflow-x: hidden;
}

header {
	width: 100vw;
}

.nav-bar {
	display: flex;
	width: 100%;
	height: 75px;
	background-color: rgba(209, 208, 208, 0.4);
}

.nav-headers {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: 100%;
}

.nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.nav li {
	width: 120%;
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 5px 5px;
	padding: 5px 0;
	cursor: pointer;
	border-radius: 15px;
	font-size: 20px;
}

.nav li a {
	text-decoration: none;
	color: rgb(19, 19, 19);
}

.nav li:hover {
	background-color: rgba(133, 133, 133, 0.5);
}

.logo {
	height: 100%;
	width: 10%;
	margin-left: 15px;
}

.logo img {
	transform: rotate(0);
	transition-duration: 1s;
	transform-origin: center;
	cursor: auto;
	margin-left: -10px;
}

.logo img:hover {
	transform: rotate(360deg);
	transition-duration: 500ms;
	transform-origin: center;
	cursor: pointer;
}

.nav-content a {
	color: black;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 100vw;
}

.img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 90%;
	margin-top: 50px;
}

.slides {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	position: relative;
}

.slides img {
	display: flex;
	width: 1200px;
	height: 1600px;
}

.img-gallery-button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	font-size: 24px;
}

.img-gallery-button:hover {
	background-color: #ddd;
}

.img-span-container {
	display: flex;
	position: absolute;
	bottom: 0;
}

.img-span {
	width: 40px;
	height: 5px;
	background-color: white;
	margin: 10px;
	border-radius: 5px;
}

#header-img-1 {
	display: none;
}

#header-img-2 {
	display: none;
}

#header-img-3 {
	display: flex;
}

.about-me-container {
	background-color: rebeccapurple;
	height: 900px;
	margin-top: 100px;
	margin: 100px 40px;
	border-radius: 12px;
	box-shadow: 10px 5px 5px rgb(199, 199, 199);
}

.about-me {
	display: grid;
	grid-template-columns: 50% 50%;
	height: 100%;
	justify-items: center;
	align-items: center;
	margin: 0 0;
}

.about-me img {
	display: flex;
	height: 400px;
	width: 400px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 5px 5px 5px rgb(30, 30, 30);
	margin: auto;
}

.about-me p {
	font-size: 24px;
	color: rgb(199, 199, 199);
	margin-right: 50px;
	letter-spacing: 3px;
	text-shadow: rgb(19, 19, 19);
}

.skills-container {
	width: 100%;
	height: 700px;
	background: rgb(78, 184, 233);
	background-repeat: no-repeat;
}

.skills {
	background: url("./Icons/stars.svg");
	width: 100%;
	height: 100%;
}

h2 {
	width: 100%;
	text-align: center;
	font-size: 45px;
}

.logo-size {
	transform: scale(0.85);
}

.logos {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}

.bootstrap-logo {
	transform: scale(1.25);
}

main .projects-container {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	justify-items: center;
	row-gap: 30px;
}

.projects-container {
	height: auto;
	margin: 50px;
}

.project-wrapper {
	display: flex;
	flex-direction: column;
	height: 550px;
	width: 90%;
	border: 1px solid black;
	transform: scale(1);
	transition-duration: 500ms;
}

.project-wrapper:hover .project-head {
	display: none;
}

.project-wrapper:hover .project-body {
	display: none;
}

.project-wrapper:hover .project-hover {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 100%;
	margin-bottom: 50px;
	cursor: pointer;
}

.project-wrapper:hover {
	transition: ease-in-out;
	transition-duration: 1s;
	background-color: rgba(27, 27, 27, 0.5);
	transform: scale(1.1);
}

.project-head {
	height: 70%;
	width: 100%;
}

.project-head img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.project-body {
	height: 30%;
}

.project-hover {
	display: none;
}

.view-project-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10%;
	width: 40%;
	text-align: center;
	border-radius: 24px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: rgba(87, 235, 19, 0.7);
}

.view-project-button:hover {
	transform: scale(1.03);
}

.view-project-button:active {
	transform: scale(0.98);
}
