<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../styles.css" />
		<link rel="shortcut icon" href="./Icons/logo_browser.svg" type="image/x-icon" />

		<title>Tip Calculator Overview</title>
	</head>
	<body>
		<nav class="nav-bar nav-bar-not-fixed">
			<div class="logo" onclick="location.pathname='../index.html'">
				<img src="../Icons/logo.svg" alt="" />
			</div>
		</nav>
		<a href="../index.html">
			<div class="back-button-wrapper">
				<div class="back-button">
					<span class="back-button-arrow"></span><span class="back-button-text">Back</span>
				</div>
			</div>
		</a>
		<main class="project-main">
			<div class="main-container">
				<div class="text-content">
					<h1 class="project-header">Tip Calculator</h1>
					<div class="project-text-content">
						<p class="project-text">
							The tip calculator app was a challenge that I found on front end mentor. It was
							a fun project that helped me with CSS grid and helped with JavaScript event
							listeners. I learned many new things with this project and hope to improve upon
							it in the future with a new design and more features.
						</p>

						<div class="project-preview">
							<img src="../Images/tipCalculatorScreenShot.png" alt="" />
						</div>
					</div>
				</div>
				<div class="project-content">
					<img src="../Images/tipCalculatorScreenShot.png" alt="" />
					<a
						class="view-project-button project-button"
						href="../Projects/tip-calculator-app-main/index.html"
					>
						View Project
					</a>
				</div>
			</div>
		</main>
		<footer>
			<div class="footer-container">
				<div class="logo footer-logo">
					<img src="../Icons/logo.svg" alt="" />
				</div>
				<div class="socials">
					<div class="twitter-logo social-logo">
						<a href="https://twitter.com/Kyland_Evans" target="_blank">
							<img src="../Icons/Twitter social icons - circle - blue.svg" alt="" />
						</a>
					</div>
					<div class="github-logo social-logo">
						<a href="https://github.com/KylandEvans" target="_blank">
							<img src="../Icons/GitHub-Mark-Light-64px.png" type="" />
						</a>
					</div>
					<div class="facebook-logo social-logo">
						<a href="https://www.facebook.com/profile.php?id=100073718411323" target="_blank">
							<img src="../Icons/facebook_logo.svg" alt="" />
						</a>
					</div>
					<div class="linkedin-logo social-logo">
						<a href="https://www.linkedin.com/in/kylandevans/" target="_blank">
							<img src="../Icons/linkedin_logo.png" alt="" />
						</a>
					</div>
				</div>
			</div>
			<div class="copyright-container">
				<p>Copyright Kyland Evans <span class="copyright-year"></span></p>
			</div>
		</footer>
	</body>
</html>
